langchain_community
langchain
python-dotenv
langchain_core
langchain_groq
vertexai
langchain_google_genai
pinecone
pypdf
pinecone
unstructured
cv2
gradio
selenium
pillow
streamlit
mermaid
webdriver-manager