langchain
python-dotenv
langchain_groq
langchain_community
langchain_core
ipykernel
langchain_google_genai
pypdf
transformers
langchain_google_community
google-api-python-client
google-auth-oauthlib
google-auth-httplib2
beautifulsoup4
pandas
ydata_profiling
langchain_huggingface
docx2txt