gradio
google
google-generativeai
python-dotenv
streamlit
streamlit-drawable-canvas
requests
pytube
pydub
transformers
ffmpeg-python
torch
SpeechRecognition
pyzbar
pillow
opencv-python
PyPDF2
python-docx
langchain
langchainhub
langchain-community
langchain-core
langchain-openai
langchain-google-genai
langchain_groq
moviepy
yt-dlp



